.options-bg {
  padding: 20px 60px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  background: var(--m-01);
  padding: 10px;
  border-radius: 5px;
  gap: 90px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.options-title {
  font-family: "Poppins";
  font-size: 2rem;
  margin-bottom: 20px;
}

.options-title::before {
  content: "";
  width: 100px;
  height: 20px;
  margin-right: 20px;
  display: inline-block;
  background: var(--m-02);
}

.options li {
  background: var(--b-05);
  display: grid;
  text-align: center;
  padding: 5px 25px;
  border-radius: 3px;
  font-family: "Josefin sans";
  font-weight: bold;
  cursor: pointer;
}

.options li:first-child .options-image {
  /* margin-top: 10px; */
}

.options li img {
  width: auto;
}

.options li:first-child {
  width: 135px;
}

.options li:hover {
  background: var(--b-08);
}

.options li.active {
  background: var(--b-09);
}

.options li .options-image {
  pointer-events: none;
}

.options li p {
  pointer-events: none;
}

@media (max-width: 1200px) {
  .options {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .options {
    margin-left: 0px;
    margin-right: 0px;
  }
  .options li {
    min-width: 30%;
  }
}

@media (max-width: 500px) {
  .options-title::before {
    display: none;
  }

  .options {
    margin-left: -35px;
    margin-right: -35px;
    gap: 10px;
    padding: 10px;
  }

  .options li {
    min-width: 40%;
  }
}
