:root {
  /* cor bege */
  --b-01: #58320C;
  --b-02: #7F4C1A;
  --b-03: #9C632B;
  --b-04: #B87A3C;
  --b-05: #eb984b;
  --b-06: #C08C59;
  --b-07: #C8A17B;
  --b-08: #D8C2AD;
  --b-09: #EBE2DA;

  /* cor marrom */
  --m-01: #1B0F07;
  --m-02: #28170D;
  --m-03: #382216;
  --m-04: #472F23;
  --m-05: #724E3C;
  --m-06: #9D7059;
  --m-07: #B49383;
  --m-08: #C6B1A5;
}